{% extends 'base.html' %}
{% load static %}

{% block title %} Livros {% endblock title %}

{% block content %}

<h1 class="text-center">Livros</h1>
<button class="btn btn-default btn-small js-btn-create-book" data-url="{% url 'create-book' %}">Cadastrar livro</button>


<table class="table table-striped" id="book-table">
    <thead>
      <tr>
          <th>#</th>
          <th>Nome</th>
          <th>Autor</th>
          <th>Exemplares</th>
      </tr>
    </thead>
    <tbody>
    {% include 'books/includes/partial-books-table.html' %}
    </tbody>
</table>

<!-- THE MODAL WE WILL BE USING -->
<div class="modal fade" id="modal-book">
    <div class="modal-dialog">
      <div class="modal-content"></div>
    </div>
</div>
{% endblock content %}

{% block extra_javascript %}
<script src="{% static 'js/books.js' %}"></script>
{% endblock extra_javascript %}