{% for person in persons %}
  <tr>
      <td>{{person.id}}</td>
      <td>{{person.name}}</td>
  </tr>
{% empty %}
    <tr>
      <td colspan="7" class="text-center bg-warning">Nenhum usuário cadastrado</td>
    </tr>
{% endfor %}
