{% extends 'base.html' %}
{% load static %}
{% block title %} Emprestimos {% endblock title%}

{% block content %}
<h1 class="text-center">Emprestimos</h1>
<button class="btn btn-default btn-small js-btn-create-loan" data-url="{% url 'create-loan' %}">Gerar emprestimo</button>
<table id="loan-table" class="table table-striped">
    <thead>
      <tr>
          <th>#</th>
          <th>Usuário</th>
          <th>Livros</th>
          <th>Devolução</th>
      </tr>
    </thead>
    <tbody>
    {% include 'loans/includes/partial-loan-table.html' %}
    </tbody>
</table>

<!-- THE MODAL WE WILL BE USING -->
<div class="modal fade" id="modal-loan">
    <div class="modal-dialog">
      <div class="modal-content"></div>
    </div>
</div>

{% endblock content %}

{% block extra_javascript %}
<script src="{% static 'js/loans.js' %}"></script>
{% endblock extra_javascript %}