{% for loan in loans %}
  <tr>
      <td>{{loan.id}}</td>
      <td>
      {% for person in loan.loan_persons %}
        <p>{{person.name}}</p>
      {% endfor %}
      </td>
      <td>
      {% for book in loan.loan_books %}
        <p>{{book.name}}</p>
      {% endfor %}
      </td>
      <td>{{loan.expires_at}}</td>
  </tr>
{% empty %}
    <tr>
      <td colspan="7" class="text-center bg-warning">Nenhum usuário cadastrado</td>
    </tr>
{% endfor %}
