{% load widget_tweaks %}


<form method="post" action="{% url 'create-book' %}" class="js-book-create-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Cadastrar novo livro</h4>
  </div>
  <div class="modal-body">
    {% for field in form %}
      <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% render_field field class="form-control" %}
        {% for error in field.errors %}
          <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    {% endfor %}
    {% if form.errors %}
    {% for error in form.non_field_errors %}
    <div class="form-group{% if error %} has-error{% endif %}">
      {% render_field field class="form-control" %}
        <p class="help-block">{{ error }}</p>
    </div>
    {% endfor %}
    {% endif %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
    <button type="submit" class="btn btn-primary">Criar</button>
  </div>
</form>