{% for book in books %}
  <tr>
      <td>{{book.id}}</td>
      <td>{{book.name}}</td>
      <td>{{book.author}}</td>
      <td>{{book.copies}}</td>
  </tr>
{% empty %}
    <tr>
      <td colspan="7" class="text-center bg-warning">Nenhum livro cadastrado</td>
    </tr>
{% endfor %}
