{% extends 'base.html' %}
{% load static %}

{% block title %} Usuários {% endblock title %}

{% block content %}

<h1 class="text-center">Usuários</h1>
<button class="btn btn-default btn-small js-btn-create-person" data-url="{% url 'create-person' %}">Cadastrar Usuario</button>


<table class="table table-striped" id="person-table">
    <thead>
      <tr>
          <th>#</th>
          <th>Nome</th>
      </tr>
    </thead>
    <tbody>
    {% include 'persons/includes/partial-person-table.html' %}
    </tbody>
</table>

<!-- THE MODAL WE WILL BE USING -->
<div class="modal fade" id="modal-person">
    <div class="modal-dialog">
      <div class="modal-content"></div>
    </div>
</div>
{% endblock content %}

{% block extra_javascript %}
<script src="{% static 'js/persons.js' %}"></script>
{% endblock extra_javascript %}